.content{
    .ContactInformation{
        z-index: 2;
        width: 100%;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 50px;
        background-color: white;
        min-height: calc(100vh - 150px);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
        h1{
            font-size: 45px;
            text-align: center;
        }
        .formSubmission{
            width: 80%;
            margin: 0 auto ;
            form{
                padding: 15px;
            }
            input{
                padding:10px;
                font-size: 15px;
                border: 2px solid #1a1a1a;
            }
            ::placeholder{
                color: black;
            }
            #name{
                float: left;
                width: 47%;
                background-color: #F9F9FA;
            }
            #email{
                float: right;
                width: 47%;
                background-color: #F9F9FA;
            }
            #subject{
                width: 100%;
                background-color: #F9F9FA;
            }
            #message{
                width: 100%;
                height: 100px;
                padding: 15px;
                resize: none;
                border: 2px solid #1a1a1a;
                background-color: #F9F9FA;
            }
            .formBttnSubm{
                margin-top: 20px;
                width: 100px;
                color: white;
                background-color: #1a1a1a;
                transition: all .8s;
            }
            .formBttnSubm:hover{
                background-color: #737373;
                border: 2px solid #737373;
            }
        }
        .socials{
            width: 30%;
            margin: 0 auto;
            padding: 15px;
            display: flex;
            justify-content: space-around;
            i{
                font-size: 70px;
                color: #737373;
                transition: all .8s;
            }
            i:hover{
                cursor: pointer;
                color: #1a1a1a;
            }
        }
        a{
            color: #1a1a1a; 
            text-decoration: none;
            h1{
                span{
                    text-decoration: underline;
                    color: #1a1a1a; 
                }
                font-size: 30px;    
            }
        }
    }
}
