.content{
    .DemoSlideShow{
        width: 100%;
        height: 650px;
        position: relative;
        z-index: 0;
        .slide{
            display: none;
            position: absolute;
        }
          
        .p1{
            width: 100%;
            height: 650px;
            background-image: linear-gradient(to right, rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../images/coding.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .p2{
            width: 100%;
            height: 650px;
            background-image: linear-gradient(to right, rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../images/TicTac.JPG);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .p3{
            width: 100%;
            height: 650px;
            background-image: linear-gradient(to right, rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../images/VueWebpage.JPG);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        h1{
            font-size: 15px;
            background-color: white;
            width: 500px;
            
        }
    }
    .home{
        z-index: 2;
        position: relative;
        margin-top: -75px;
        width: 100%;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        min-height: 350px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
        .imageOfMe{
            width: 250px;
            height: 250px;
            margin: auto;
            
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
                object-fit: cover;
            }
        }
        .name{
            width: 100%;
            h1{
                font-size: 45px;
                text-align: center;
            }
            hr{
                width: 50%;
                margin: auto;
                border: 0;
                height: 1px;
                background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
            }
        }
        .information{
            width: 90%;
            margin: auto;
            p{
                font-size: 20px;
                text-align: center;
                line-height: 30px;
            }
            .redirectButtons{
                width: 90%;
                padding-top: 70px;
                margin: 0 auto;
                display: flex;
                justify-content: space-around;
                button{
                    padding: 20px;
                    border: none;
                    background-color: #1a1a1a;
                    color: white;
                    font-size: 20px;
                    transition: all 0.8s;
                }
                button:hover{
                    transform: scale(1.15, 1.15);
                }
                button span:after{
                    content: "\00BB";
                    position: absolute;
                    opacity: 0;
                    font-size: 30px;
                    font-weight: bold;
                    top: -8px;
                    right: 20px;
                    transition: 0.8s;
                }
                button span{
                    display: inline-block;
                    position: relative;
                    cursor: pointer;
                    transition: 0.8s;
                }
                button:hover span{
                    padding-right: 25px;
                }
                button:hover span:after {
                    opacity: 1;
                    right: 0px;
                  }
                // background-color: blue;
            }
        }
    }
}