.content{
    .DemoSlideShow{
        width: 100%;
        height: 650px;
        background-color: paleturquoise;
        background-image: linear-gradient(to right, rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../images/coding.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .home{
        z-index: 2;
        margin-top: -75px;
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        min-height: 350px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    }
}